.index-article {
  background: -webkit-gradient(linear, left top, left bottom, from(#1a9), to(#189));
  background: linear-gradient(to bottom, #1a9, #189);
  height: 80vh;
}

.index-article div div div {
  height: 500px;
  width: 200px;
  margin: 50px 10px;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.index-article div div div .index-card-img {
  position: relative;
  float: left;
  -webkit-transform: translate(40px);
          transform: translate(40px);
  width: 110px;
  padding: 10px;
}

.index-article div div div .index-card-title {
  font-size: 25px;
  text-align: center;
}

.index-article div div div .index-card-text {
  font-size: 18px;
  padding: 0px 10px;
}

.index-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #189;
  padding: 10px;
}

.index-aside div .index-card-aside {
  border: 2px solid #19a;
  width: 100%;
  padding: 15px;
  background-color: #1a9;
}

.index-aside div .index-card-aside .index-cardaside-img {
  width: 180px;
  position: relative;
  float: right;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-transition: 2s;
  transition: 2s;
}

.index-aside div .index-card-aside .index-cardaside-title {
  font-size: 20px;
}

.index-aside div .index-card-aside .index-cardaside-text {
  font-size: 18px;
  text-align: end;
}

footer {
  background-color: #333;
  height: 50px;
}

footer .footer-ul {
  list-style: none;
  text-align: center;
}

footer .footer-ul .footer-item {
  font-size: 15px;
  padding-top: 10px;
}

footer .footer-ul .footer-item a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

/*Trabajos*/
.trabajos-rowarticle {
  padding: 20px 10px;
}

.trabajos-rowarticle .trabajos-colarticle .trabajos-textsection {
  font-size: 15px;
}

.trabajos-rowarticle .trabajos-colarticle .trabajos-textsection {
  font-size: 15px;
}

.trabajos-rowarticle .trabajos-colarticle .trabajos-imgsection {
  position: relative;
  width: 170px;
  padding: 10px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.trabajos-rowarticle .trabajos-colarticle .trabajos-titlesection-2 {
  font-size: 30px;
}

.trabajos-rowarticle .trabajos-colarticle .trabajos-textsection-2 {
  font-size: 15px;
}

.trabajos-rowarticle .trabajos-colarticle .trabajos-imgsection-2 {
  position: relative;
  width: 180px;
  padding: 10px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.trabajos-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #189;
}

.trabajos-aside .trabajos-colaside {
  border: 1px solid #a11;
  margin-bottom: 10px;
}

.trabajos-aside .trabajos-colaside .trabajos-titleaside {
  font-size: 20px;
  color: #fff;
  padding: 10px;
}

.trabajos-aside .trabajos-colaside .trabajos-textaside {
  font-size: 17px;
  padding: 5px;
}

.trabajos-aside .trabajos-colaside .trabajos-textaside a {
  color: #fff;
}

.trabajos-aside .trabajos-colaside .trabajos-textaside .trabajos-imgaside {
  position: relative;
  float: left;
  padding: 10px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}
/*# sourceMappingURL=styles.css.map */